{{> head}}

{{> nav}}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>About DHTSearch</h2>

      <p><strong>Welcome to DHTSearch.</strong>&nbsp; DHTSearch is a DHT Search Engine that scans the <a href="https://www.bittorrent.org/beps/bep_0005.html">BitTorrent DHT network</a> for active torrents, collects information about them, and makes that information available in a searchable index.  DHTSearch is an invitation-only private search engine.  We require our users to register in order to manage the performance of the site and to prevent abuse.  Invitations to register may be obtained from any registered user.</p>

      <p><strong>Attribution:</strong>&nbsp; DHTSearch is based on the <a href="https://github.com/AlphaReign">AlphaReign project</a> by <a href="https://prefinem.com">William Prefinem</a>.  That project is published in GitHub under the <a href="https://github.com/AlphaReign/scraper/blob/master/LICENSE">MIT License</a>.

      <p><strong>DMCA Compliance:</strong>&nbsp; DHTSearch does not store or share any material.  DHTSearch simply indexes the current file sharing activity occuring between BitTorrent hosts on the internet.  DHTSearch has no control over what those other BitTorrent hosts do and share, DHTSearch is simply an observer of what they are doing and sharing.</p>

      <p>Because we have no control over what BitTorrnet hosts do, we have no way to assist you if you seek to have material to which you claim copyright removed from the internet.  You may send DMCA Notices to us at <a href="mailto:dhtsearch.0@gmail.com">dhtsearch.0@gmail.com</a> if you want to, but again, we really won&rsquo;t be able to provide you with any meaningful assistance.</p>

    </div>
  </div>
</div>

{{> foot}}
