{{> head}}

{{> nav}}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Contact DHTSearch</h2>
            <p>
                Please send an e-mail to <a href="mailto:dhtsearch.0@gmail.com">dhtsearch.0@gmail.com</a>
            </p>
        </div>
    </div>
</div>

{{> foot}}
