{{> head}}

{{> nav}}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Privacy Policy</h2>
            <p>
                DHTSearch does not collect personal information and it is our policy not to share any information we may have with anyone except when we are compelled to do so as part of a legal proceeding.  The only user data we maintain is a userid, a password, and the site settings that the user may have modified.
            </p>
            <p>
		We maintain standard web server logs as part of our operation of this web site.  These logs contain the IP addresses of the devices which communicated with our server.  They also contain information about the web pages visited, queries made, and web browser information from each device that communicated with our server.  These log files are used for the sole purpose of understanding the performance of the web site and in solving problems that may occur.  Log files are erased from our system after seven days.
            </p>
            <p>
                Passwords are stored in our database using secure encryption.  The site owner cannot recover passwords, they can only reset them.   If an account is deleted, the userid, password and site settings associated with that account are completely removed from the site.  Automated off-site database backups containing user information are performed nightly and are stored on a secure server for seven days before being deleted.
            </p>
        </div>
    </div>
</div>

{{> foot}}
